body{
  background-color:#03A6A6;
  font-family: 'Montserrat', sans-serif;
}

.nav-kids{
  background-color: #F2C63F;
}

.title-carousel2 ,.paragraph-carousel{
  color: #F34737;
}
.paragraph-carousel{
  padding-left: 4em;
}
.btn-user{
  background-color: #F34737;
  color: white;
}
.search-btn{
  background-color: #F34737;
}
.side-menu-basic{
  background-color: #5B9496;
  font-family: 'Montserrat', sans-serif;
}

.noKids{
  color: white;
  font-size: 2em;
}

.titleKids {
    padding-left: 10%;
}
.list-group-item{
  background-color: #012e40;
}
