body{
  background-color:#F6EDD3;
  font-family: 'Montserrat', sans-serif;
}
.navbar{
  background-color: #FAC960;
  border:none;
  padding: 0.5%;
}
fa-user-circle-o, .fa-facebook-official, .fa-twitter-square{
  font-size: 2em;
  margin-top: -18%;
  color: #F6EDD3;
  padding: -20
}
li:hover{
  color: #E87C0B;
}
.fa-user-circle-o:hover, .fa-facebook-official:hover, .fa-twitter-square:hover{
  color: #6CC4B3;
}
.title-carousel2 ,.paragraph-carousel{
  color: #F34737;
}
.paragraph-carousel{
  padding-left: 4em;
}

.btn-default{
  background-color: #6CC4B3;
}
.opacar {
    background-image: url(../img/transpa.png);
    height: 100%;
}
.side-menu-basic{
  background-color: #5B9496;
  font-family: 'Montserrat', sans-serif;
}

.noKids{
  color: white;
  font-size: 2em;
}

.titleKids {
    padding-left: 10%;
}
.list-group-item{
  background-color: #012e40;
}
.isotipe{
  width: 320%;
  margin-top: 0%;
  margin-bottom:1%;
  
}