/*splash*/
#splash {
  height: 100vh;
  position: absolute;
  z-index: 7;
  background: black;
  width: 100%;
}
.gif-splash {
  width: 40%;
  margin-left: 30%;
}

/*index*/
#logo-index{
  width: 27.5%;
}

.index-p{
  padding-top: 2%;
}

/* ------------------explorer.html----- */
body{
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: #111110;
  /*border-bottom: none;*/
}

.user-menu{
  /*margin-right: 25px;*/
  background-color: transparent;
  border: none;
  width: 10vh;
  height: 7vh;
  margin: 0;
  padding: 0;
}

.fa-user-circle-o, .fa-facebook-official, .fa-twitter-square{
  font-size: 2em;
  margin-top: -18%;
  color: #F6EDD3;
  /*margin-right: 15px;*/
}

.fa-user-circle-o:hover, .fa-facebook-official:hover, .fa-twitter-square:hover{
  color: #5B9496;
}

li:hover{
  color: #5B9496;
}

.user-menu:hover, #close:hover{
  /*background-color: #9AC0BA;*/
}

#close{
  background-color: #5B9496;
}

.side-menu-basic.side-menu-shown{
  background-color: rgba(42, 42, 42, 0.8);
}

.navbar-brand{
  margin: 0;
  padding: 0;
  width: 30%;
}

.navbar-header{
  width: 15%;
}

.navbar-form{
  padding-left: 20%;
}

.isotipe{
  width: 100%;
  margin: 0;
}


/* Paleta de colores para pagina
--- #060E17 "GRIS OCURO"- BASE PAGINA ( FONDO )
--- #5B9496  "" - COLOR BOTON BASE
--- #9AC0BA  "" - CAMBIO DE COLOR CUANDO CURSO ESTA ARRIBA DEL BOTON
--- #F6EDD3  "BLANCO INVIERNO" - COLOR DE TIPOGRAFIA
Tipografia font-family: 'Muli', sans-serif;
<link href="https://fonts.googleapis.com/css?family=Muli:400i" rel="stylesheet">

*/

#movies img, #movie img {
  width: 100%;
}

#movies .col-md-3 .well {
  height: 400px;
}

#movies .col-md-3 img {
  height: 280px;
}

/*modals*/
#gridSystemModalLabel{
  color: white;
}

#gridSystemModalLabel2{
  color:white;
}

.modal-content{
  background-color: rgba(42, 42, 42, 0.8);
  border-color: #fffbfb !important;
}

.modal-header{
  background-color: rgba(95, 119, 93, 0.2);
}

.reg{
  margin-bottom: 20px;
  margin-top: 10px;
}

.user{
  margin-top: 20px;
}

.input-group-addon{
  background-color: #373D3D;
  color: white;
}

.form-control{
  background-color: lightgrey;
}

.btn-reg, .btn-login{
  background-color: rgba(36, 42, 44, 0.9);
  color: #F6EDD3;
}


.btn-reg:hover, .btn-login:hover{
  background-color: #5B9496;
  color: #F6EDD3;
}

/* end modals*/

/*Carousel*/
.carousel-indicators {
    z-index: -5;
}

.carousel-height {
    height: 70vh;
}
.concert {
    padding:2vh;
}
.btn-change {
    background-color: black;
}
.btn-change:hover {
    background-color: grey;
}
.carousel1 {
    background-image: url(../img/carousel1.jpeg);
    background-size: cover;
    background-position: center;

}
.carousel2 {
    background-image: url(../img/carousel2.jpeg);
    background-size: cover;
    background-position: center;


}
.carousel3 {
    background-image: url(../img/carousel3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.carousel-kid1 {
    background-image: url(../img/1280x720-wo0.jpg);
    background-size: cover;
    background-position: center top;

}
.carousel-kid2 {
    background-image: url(../img/pony4.jpg);
    background-size: cover;
    background-position: center top;


}
.carousel-kid3 {
    background-image: url(../img/frozen1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.title-carousel{
    padding-top: 2.9em;
    padding-left: 2em;
    margin: 0;
    font-size: 5em;
    color: #F6EDD3;
    font-weight: bolder;

}
.paragraph-carousel {
    color: #F6EDD3;
    font-size: 2em;
    font-weight: bold;
}
.opacar {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}
.carousel-padding {
  padding-bottom: 4em;
  margin-top: -18px;
}

/*fin carousel*/

/*Side bar user*/
.side-menu-basic{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 255px;
    box-sizing: border-box;
    background-color:  #222427;
    box-shadow: 2px 4px 5px 0 rgba(29, 30, 31, 0.4);
    z-index: 10;


    color: #ffffff;
    font: bold 16px sans-serif;

    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;

    -webkit-transform: translateX(-300px);
    transform:translateX(-300px);
}

.side-menu-basic.side-menu-shown{
    -webkit-transform: translateX(0);
    transform:translateX(0);
}

/* Scrollable container for the side menu options */

.side-menu-basic .side-menu-content{
    overflow: auto;
    max-height: 100%;
    padding: 40px 33px 0;
    box-sizing: border-box;
}

/* The logo */

.side-menu-basic .side-menu-logo{
    display: block;
    font: normal 50px 'Cookie', cursive;
    color: inherit;
    text-decoration: none;
    line-height: 122px;
    text-align: center;
    width: 122px;
    border-radius: 50%;
    background-color: #151617;
    margin: 0 auto 45px;
}

/* Side menu rows */

.side-menu-basic p{
    overflow: hidden;
    margin: 0 0 30px;
}

.side-menu-basic p a{
    text-decoration: none;
    color: inherit;
    max-width: 150px;
    float: left;
}

.side-menu-basic p i{
    float: right;
    font-size: 18px;
    cursor: pointer;
}

/* Close button */

.side-menu-basic .side-menu-close{
    position: absolute;
    right: -55px;
    top: 15px;
    width: 35px;

    display: none;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color:  #ed145b;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.side-menu-basic.side-menu-shown .side-menu-close{
    display: block;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #3484B3;
    overflow: hidden;
}


header h1{
    float: left;
    font: normal 24px/1.5 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

ul.navigation {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

ul.navigation a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

ul.navigation li a.active{
    background-color: #F05283;
    pointer-events: none;
}

ul.navigation li a:hover {
    opacity: 1;
}


ul.navigation li{
    display: inline-block;
}


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
}

/* Styling the buttons for showing the dialogs. You can ignore and remove these styles */


.menu-toggle:hover{
    opacity:0.96;
}



/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
    text-decoration: none;
    color: #fff !important;
    font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
    color: #da431c;
}

/*Termino side bar user*/

.btn-user{
    position: relative;
    left: 60em;
    top: 0.5em;
}

/*Comentarios muro*/
#filter-newsfeed {
  margin-top: 1em;
}

.message {
  background-color: #DCF6C5FF;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.border {
  border-radius: 1em;
}

.btn-post {
  background-color: #01B0F1FF;
  color: #fff;
}

/*like*/
.heart-like {
  cursor: pointer;
}

.paint-heart {
  color: #01B0F1FF;
}

/*hacer comentarios*/
.title-newsfeed {
  color: #06E0A3FF;
  font-weight: bold;
}

#post textarea {
  padding: 2em;
  width: 100%;
  border-radius: 1em 1em 0em 0em;
  resize: none;
}

#post .controls {
  background-color:#f6f7f8;
  height:40px;width:100%;
  border-radius: 0em 0em 1em 1em;
  margin-top:3px;
  margin-top:-5px;
  padding-right:10px;
}

#post .controls li {
  padding:10px;
  display:inline-block;
  cursor:pointer;
}

#post .controls li:hover {
  background:#eee;
}

/* Post hecho */
.wall-item {
  padding: 30px;
  padding-top: 10px;
  border: 1px solid #eee;
  margin-top: 20px;
  padding-bottom: 0;
}

.wall-item:first-child {
  margin-top: 0;
}

.wall-item .user-img {
  border-radius: 50px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.wall-item .meta .post-menu {
  float: right;
}


.wall-item .meta .user {
  display: inline-block;
  margin-top: 3px;
}

.post-content p {
    font-size: 15px;
}

.wall-item .meta .user a {
  font-weight: bold;
  color: #01B0F1FF;
}

.time-created {
  font-size: 14px;
  font-style: italic;
  color: #999;
}

.wall-item .post-contents {
  margin-top: 15px;
}

.wall-item .post-contents p {
  /* para que no se salga el texto */
  word-break: break-word;
  text-align: justify;
}

.wall-item .post-contents img {
  max-width: 100%;
  border: 1px solid #eae8e8;
  display: block;
  margin-bottom: 10px;
}

.comments-likes {
  min-height: 50px;
  width: 100%;
}

.menu-likes-comments-share {
  margin-bottom: 10px;
}

.menu-likes-comments-share li {
  display: inline-block;
}

.menu-likes-comments-share li::after {
  content: "";
  margin-left: 5px;
  margin-right: 5px;
  color: #ccc;
}

.comments-list {
  background-color: #fbfbfb;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 10px;
  padding-right: 10px;
}

.comments-list .comments-item {
  padding-top: 10px;
  padding-bottom: 5px;
}

.comments-list .comments-item .comment-user-img {
  display: inline-block;
  border-radius: 32px;
}

.comments-item .col-md-11 {
  padding-left: 0;
}

.comment-container {
  z-index: initial;
}

.comment-container {
  padding-bottom: 10px;
  position: relative;
  z-index: 0;
}

.comment-attach-photo .fa-camera {
  float: right;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
  width: 25px;
  height: 25px;
  padding: 5px;
  z-index: 2;
  cursor: pointer;
}

.comment-box {
  padding: 5px 65px 5px 5px !important;
}

.comment-box {
  width: 100%;
  border: 1px solid #eee;
  padding: 5px 30px 5px 5px !important;
  margin-bottom: 5px;
  outline: 0;
  display: block;
  resize: vertical;
  background: #fff;
  min-height: 32px;
}

/* STARS */
.rating-lg {
  font-size: 2em!important;
}
